<!--The content below is only a placeholder and can be replaced.-->
<body >
<div class="wrapper">
<div style="background-color:#ffc000;border-bottom-width: thin">

  &nbsp; ระบบจัดตารางสอน <br/>
  <MARQUEE behavior='scroll' direction='Up' height='50' scrollamount='2' scrolldelay='100' width='100' onmouseover='this.stop()' onmouseout='this.start()'>

   <img src="../assets/Img/SA.png" height="80" width="100"/>&nbsp;
  </MARQUEE>
    &nbsp;
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active" style="color: black;text-decoration: none;font-size: 50px;width: 20px">หน้าหลัก </a>
    &nbsp; &nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" routerLink="/table" routerLinkActive="active" style="color: black;text-decoration:none;font-size: 50px" >ตารางสอน</a>

  &nbsp; &nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" routerLink="/grid-list-dynamic-example" routerLinkActive="active" style="color: black;text-decoration:none;font-size: 50px" >Test</a>
</div>

</div>

<ul>
    <router-outlet></router-outlet>


</ul>
</body>
<div style="background-color:#ffc000;text-align:center"> Suranaree School</div>

